PyQt6
vispy
# cmake         # Accidentally installed on windows machine. unquote if something is broken/missing
# opencv        # Same here
cudatoolkit
imageio
pytorch
torchvision
torchaudio
pytorch-cuda
matplotlib
AFMReader
h5py
